fastapi==0.124.0
uvicorn[standard]==0.38.0

# Paddle OCR
paddlepaddle==3.2.0
paddleocr==3.3.2

# PyTorch cho VietOCR
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# VietOCR
vietocr==0.3.13

# Xử lý ảnh
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
numpy==1.26.4
pillow==10.3.0

# Upload file cho FastAPI
python-multipart==0.0.27