.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
**/terraform.tfvars
backend.hcl
**/backend.hcl
state-backups/
**/state-backups/
